/* AppNumber & Update Number */

.container-form-link {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.container-form-nav {
  display: flex;
  justify-content: center;
}

.form-nav {
  width: 100%;
  max-width: 200px;
}