/* Not Found */

.container-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-fount-span {
  margin-top: 100px;
  font-size: 0.8em;
}

.not-found-h1 {
  margin: 0;
  font-size: 7em;
}

.not-found-p {
  font-size: 0.8em;
}

