div.App {
  text-align: center;
  width: 100%;
  max-width: 1200px;
}

input:focus {
  outline-width: 0;
}

.input-form {
  margin-top: 50px;
  padding: 4px;
  width: 100%;
  font-size: 1em;
}

button{
  margin-top: 50px;
  font-size: 1em;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}


/* Home */ 

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.home-input-search {
  margin-top: 50px;
  width: 100%;
  max-width: 250px;
}

input.search {
  width: 100%;
  height: 30px;
  font-size: 1em;
}
.table {
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
  border: 1px solid #cecccc91;
}
.table-head {
  border-width: 5px;
  background-color: #5d5d5d;
}

.table-tr {
 color: white; 
}

.table-body {
  background-color:#efefef;
}

.link-add:hover {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}